html {
  scroll-behavior: smooth;
  background: linear-gradient(180deg, #fef5f4 0%, #dfe2d3 51.04%, #feefd3 100%);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  margin: 0;
  font-family: -apple-system, 'Proxima Nova', BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1440px;
  margin: auto;
  background: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
